@model WebSite.Data.Model.New

<div class="col-lg-4">
    <img class="img-thumbnail" src="@Model.img" alt="@Model.name" />
    <h2>@Model.name</h2>
    <h5>@Model.shortDesc</h5>
    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
</div>